h1 {
  color: orange;
}
h2{
  color: orange;
}
img {
  margin: 40px 0px 0px 0px;
  border: 7px solid orange;
  border-radius: 20px;
}
body {
  font-family: helvetica, sans-serif;
    max-width: 600px;
  margin: 0 auto;
}
navbar navbar-default {
  color: orange;

}
